<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-10">Description</div>
            <div class="col-xs-2">
                <a class="navbar-link" href="#!/transaction/new">
                    <span class="pull-right glyphicon glyphicon-plus" />
                </a>
            </div>
        </div>
    </li>
    <li ng-repeat="transaction in model.transactions" class="list-group-item">
        <div class="row">
                <a class="navbar-link cog" href="#!/user/transaction/{{transaction.id}}/attachment">
                    <div class="col-xs-10">{{transaction.description}}</div>
                </a>
            <div class="col-xs-2">
                <a class="navbar-link cog" href="#!/transaction/{{transaction.id}}">
                    <span class="pull-right glyphicon glyphicon-cog" />
                </a>
            </div>
        </div>
    </li>
</ul>