<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/transaction/{{model.transactionId}}/attachment">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-8">
            <a class="navbar-brand" href="#">Edit attachment</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <img ng-src = "{{model.attachment.url}}" />
    <form action="/api/uploads/edit"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control" required="required"/>
        <input  name="transactionId"  value="{{model.transactionId}}"   style="display: none"/>
        <input  name="userName"  value="{{model.userName}}" style="display: none"/>
        <input  name="attachmentId"  value="{{model.attachmentId}}"   style="display: none"/>

        <button type="submit" id="upload" class="btn btn-block btn-danger">Update Image</button>
    </form>
    <a class="btn btn-default btn-block btn-danger"
        ng-click="model.deleteAttachment(model.attachmentId)"
        role="button">Delete Image</a>

    <a class="btn btn-default btn-block btn-danger"
        href="#!/transaction/{{model.transactionId}}/attachment"
        role="button">Cancel</a>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>